@font-face {
    font-family: 'Circuitboard';
    src: url('Circuitboard.eot');
    src: url('Circuitboard.eot?#iefix') format('embedded-opentype'),
        url('Circuitboard.woff2') format('woff2'),
        url('Circuitboard.woff') format('woff'),
        url('Circuitboard.svg#Circuitboard') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

